## PCA Demonstration in Python

In [1]:
# Importing the required libraries

In [2]:
import numpy as np, pandas as pd

In [3]:
data = pd.read_csv("Iris.csv")

In [4]:
data.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
y = data.pop("iris")

In [6]:
data.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
data.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Scaling the data

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
X = data.copy()

In [ ]:
x = scaler.fit_transform(X)

In [ ]:
x[:5,:5]

### Applying PCA on the data

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
?PCA

In [ ]:
pca = PCA(random_state=42)

In [ ]:
pca.fit(x)

In [ ]:
pca.components_

In [ ]:
pca.explained_variance_ratio_

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar(range(1,len(pca.explained_variance_ratio_)+1), pca.explained_variance_ratio_)

In [ ]:
var_cumu = np.cumsum(pca.explained_variance_ratio_)

#### Making the scree plot

In [ ]:
plt.plot(range(1,len(var_cumu)+1), var_cumu)

PCA with 2 components

In [ ]:
pc2 = PCA(n_components=2, random_state=42)

In [ ]:
newdata = pc2.fit_transform(x)

In [ ]:
newdata.shape

Making a dataframe out of it for convenience

In [ ]:
df = pd.DataFrame(newdata, columns=["PC1", "PC2"])
df.head()

In [ ]:
df_final = pd.concat([df, y], axis=1)

In [ ]:
df_final.head()

Plotting the data

In [ ]:
import seaborn as sns

In [ ]:
sns.pairplot(data=df_final, x_vars=["PC1"], y_vars=["PC2"], hue = "iris", size=5)