### 1. Importing and Preprocessing Data

In [88]:
import pandas as pd

# reading the training data
docs = pd.read_csv('movie_review_train.csv')
docsTest = pd.read_csv('movie_review_test.csv')
docs.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [89]:
docsTest.head()

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

In [90]:
len(docs)

1600

In [91]:
len(docsTest)

400

In [92]:
# counting spam and ham instances
pos_neg = docs['class'].value_counts()
pos_neg

Pos    800
Neg    800
Name: class, dtype: int64

In [93]:
# counting spam and ham instances
posTest_neg = docsTest['class'].value_counts()
posTest_neg

Pos    200
Neg    200
Name: class, dtype: int64

In [94]:
#print("spam rate is about {0}%".format(
#    round((ham_spam[1]/float(ham_spam[0]+ham_spam[1]))*100), 2))

In [95]:
# mapping labels to 0 and 1
docs['label'] = docs['class'].map({'Pos':1, 'Neg':0})
docsTest['label'] = docsTest['class'].map({'Pos':1, 'Neg':0})

In [96]:
docs.head()

  class                                               text  label
0   Pos   a common complaint amongst film critics is   ...      1
1   Pos   whew   this film oozes energy   the kind of b...      1
2   Pos   steven spielberg s   amistad     which is bas...      1
3   Pos   he has spent his entire life in an awful litt...      1
4   Pos   being that it is a foreign language film with...      1

In [97]:
docsTest.head()

  class                                               text  label
0   Pos   films adapted from comic books have had plent...      1
1   Pos   every now and then a movie comes along from a...      1
2   Pos   you ve got mail works alot better than it des...      1
3   Pos      jaws   is a rare film that grabs your atte...      1
4   Pos   moviemaking is a lot like being the general m...      1

In [98]:
# we can now drop the column 'Class'
docs = docs.drop('class', axis=1)
docsTest = docsTest.drop('class', axis=1)
docs.head()
docsTest.head()

                                                text  label
0   films adapted from comic books have had plent...      1
1   every now and then a movie comes along from a...      1
2   you ve got mail works alot better than it des...      1
3      jaws   is a rare film that grabs your atte...      1
4   moviemaking is a lot like being the general m...      1

In [99]:
# convert to X and y
X = docs.text
y = docs.label
print(X.shape)
print(y.shape)

XTest = docsTest.text
yTest = docsTest.label
print(XTest.shape)
print(yTest.shape)

(1600,)
(1600,)
(400,)
(400,)

In [100]:
X_train = X
y_train = y
X_test = XTest
y_test = yTest

In [101]:
X_train.head()

0     a common complaint amongst film critics is   ...
1     whew   this film oozes energy   the kind of b...
2     steven spielberg s   amistad     which is bas...
3     he has spent his entire life in an awful litt...
4     being that it is a foreign language film with...
Name: text, dtype: object

In [102]:
y_train.head()

0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [103]:
# vectorizing the sentences; removing stop words
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [104]:
vect.fit(X_train)

CountVectorizer(stop_words='english')

In [105]:
# printing the vocabulary
#vect.vocabulary_

In [106]:
# vocab size
len(vect.vocabulary_.keys())

35858

In [107]:
vect = CountVectorizer(stop_words='english', min_df=.03, max_df=.8)
vect.fit(X_train)
len(vect.vocabulary_.keys())

1643

In [116]:
#vectTest = CountVectorizer(stop_words='english', min_df=.03, max_df=.8)
#vectTest.fit(X_test)
#len(vectTest.vocabulary_.keys())

In [117]:
# transforming the train and test datasets
#X_train_transformed = vect.transform(X_train)
X_test_transformed = vect.transform(X_test)

In [121]:
# note that the type is transformed (sparse) matrix
print(type(X_test_transformed))
#print(X_train_transformed)
print(X_test_transformed.count_nonzero)
X_train_transformed

<class 'scipy.sparse.csr.csr_matrix'>
<bound method _data_matrix.count_nonzero of <400x1643 sparse matrix of type '<class 'numpy.int64'>'
	with 51663 stored elements in Compressed Sparse Row format>>

<1600x1643 sparse matrix of type '<class 'numpy.int64'>'
	with 217396 stored elements in Compressed Sparse Row format>