Fibonacci Series

Description

Compute and display Fibonacci series upto n terms where n is a positive integer entered by the user.
You can go here to read about Fibonacci series.

Sample Input:
5

Sample Output:
0
1
1
2
3

In [5]:
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

In [7]:

mail_content = "Hello, This is a simple mail.*****"
#The mail addresses and password
sender_address = 'muthurajguru@gmail.com'
sender_pass = 'Vadirajaru#1234'
receiver_address = 'muthurajguru@yahoo.com'
#Setup the MIME
message = MIMEMultipart()
message['From'] = sender_address
message['To'] = receiver_address
message['Subject'] = 'A test mail sent by Python. It has an attachment.'   #The subject line

#The body and the attachments for the mail
message.attach(MIMEText(mail_content, 'plain'))

#Create SMTP session for sending the mail
session = smtplib.SMTP('smtp.gmail.com', 587) #use gmail with port
session.starttls() #enable security
session.login(sender_address, sender_pass) #login with mail_id and password
text = message.as_string()
session.sendmail(sender_address, receiver_address, text)
session.quit()
print('Mail Sent')

Mail Sent

In [1]:
n=int(in8put())
#write your code here
def fibo(n):
   if n <= 1:
       return n
   else:
       return(fibo(n-1) + fibo(n-2))

for i in range(n):
       print(fibo(i))

8
0
1
1
2
3
5
8
13

In [1]:
#iterative
n=int(input())
secondLast=0
last=1
if n>0:
    print(secondLast)
if n>1:
    print(last)
for i in range(3,n+1):
    nextNumber=last+secondLast
    print(nextNumber)
    secondLast=last
    last=nextNumber

5
0
1
1
2
3

In [6]:
num = 3
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print("number entered is not prime")
           break
   else:
       print("number entered is prime")
else:
   print("number entered is not prime")

number entered is prime

In [4]:
intStr = input()
num=int(intStr)
# initialize sum
sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** len(intStr)
   temp //= 10

if num == sum:
   print(True)
else:
   print(False)

3
True

In [ ]:
Selecting dataframe columns
Description
Write a program to select all columns of a dataframe except the ones specified.
The input will contain a list of columns that you should skip.
You should print the first five rows of the dataframe as output where the columns are alphabetically sorted.

Sample Input:
['PassengerId', 'Pclass', 'Name', 'Sex','Embarked']
Sample Output:

In [6]:
Two series
Description
Given two pandas series, find the position of elements in series2 in series1.
You can assume that all elements in series2 will be present in series1.
The input will contain two lines with series1 and series2 respectively.
The output should be a list of indexes indicating elements of series2 in series 1.
Note: In the output list, the indexes should be in ascending order.
Sample Input:
[1,2,3,4,5,6,7]
[1,3,7]
Sample Output:
[0,2,6]

SyntaxError: invalid syntax (<ipython-input-6-906dd364466b>, line 1)

In [ ]:
mst_list = [1,2,3,4,5,6,7]
findLst = [1,3,7]

In [ ]:
Cleaning columns
Description
For the given dataframe, you have to clean the "Installs" column and print its correlation with other numeric columns of the dataframe.(print df.corr())
You have to do the following:
1. Remove characters like ',' from the number of installs.
2. Delete rows where the Installs column has irrelevant strings like 'Free'
3. Convert the column to int type
You can access the dataframe using the following URL in your Jupyter notebook:
https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv
Note: You should try this problem on your own Jupyter notebook before submitting. Do not clean any column other than "Installs".
Sample Output:
            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000
Execution Time Limit

In [ ]:
Capitalise
Description
Given a sentence as a string, capitalise the first letter of every word. Output the final sentence after capitalising.

Hint: Since strings are immutable, you need to output a new string.

Example:
Input 1:
I am now a master of Logistic regression
Output 1:
I Am Now A Master Of Logistic Regression
Execution Time Limit

In [ ]:
Second Maximum Number in a List
Description
Given a list of numbers, find the second largest number in the list.

Note: There might be repeated numbers in the list. If there is only one number present in the list, return 'not present'.

Examples:
Input 1:
[7, 2, 0, 9, -1, 8]
Output 1:
8

Input 2:
[3, 1, 4, 4, 5, 5, 5, 0, 2, 2]
Output 2:
4

Input 2:
[6, 6, 6, 6, 6]

In [ ]:
import pandas as pd
import ast,sys
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/X0kvr3wEYXRzONE5W37xWWYYA/test.csv")
input_str = sys.stdin.read()
to_omit = ast.literal_eval(input_str)
df=df[df.columns[~df.columns.isin(to_omit)]]
print(df.loc[:, sorted(list(df.columns))].head())

In [ ]:
import ast,sys
import pandas as pd
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
series1=pd.Series(input_list[0])
series2=pd.Series(input_list[1])
out_list=[pd.Index(series1).get_loc(num) for num in series2]
print(list(map(int,out_list)))

In [ ]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")
df.Installs=df.Installs.str.replace(',','')
df.Installs=df.Installs.str.replace('+','')
df=df[df.Installs!='Free']
df.Installs=df.Installs.astype(int)
print(df.corr())

In [ ]:
# Read the input string 
input_string = input()

# Split the string at the white spaces so that you have the individual words
l = input_string.split(" ")

# Declare a new string since you cannot mutate strings in Python
new_s = ""

# Run a loop for all the words
for word in l:
    
# If the first letter of the word is in lowercase, covert it to uppercase by using 
# the ord and chr functions. Note that that order of 'a' is 97 and order of 'A' is
# 65. So to capitalise, you need to subtract 32.
    if(ord(word[0]) >= ord('a') and ord(word[0]) <= ord('z')):
        
# Add the capitalised character to the new string alongwith a white space. Then
# add the rest of the word as well.
        new_s = new_s + " " + chr(ord(word[0]) - 32)
        new_s = new_s + word[1:]
        
# If the first letter is already capital, just add the word to the new string as is 
    else:
        new_s = new_s + " " + word

# Print the new string after doing an lstrip() since the first word was also added
# with a whitespace
print(new_s.lstrip())

In [ ]:
# Read the input list
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)

# Declare two variables max1 and max2 which will contain the maximum and the second
# maximum element. Choose a very small number (like -10000 in this case). You will
# understand why in the next few steps
max1 = -10000
max2 = -10000
    
# Run a loop throughout the length of the loop    
for i in input_list:

# If you encounter a number greater than max1, update the values of both max1 and max2
# max2 will now take the value of max1 and max1 will take the value of i
    if(i > max1):
        max2, max1 = max1, i

# Else if you encounter a number which is less than max1 but greater than max2, just
# update the value of max2
    elif(i < max1 and i > max2):
        max2 = i

# If max1 is equal to max2, or either of max1 and max2 are -10000 (the initial value),
# it means that only one number (repeated several times) is present in the list, so
# print not present. Else print the value of max2
if((max1 == max2) or (max1 == -10000) or (max2 == -10000)):
    print("not present")
else:
    print(max2)

In [ ]:
# Importing the Pandas package and reading the data
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

# Inspecting the first few rows
wholesale.head(10)

# Checking the value counts of the column 'Channel' to see what all values are present
wholesale['Channel'].value_counts()

# Define a function to correct the names. Code self-explanatory
def correction(x):
    if x in ['H', 'Hote', 'Hot']:
        x = 'Hotel'
    elif x in ['C', 'Caffe']:
        x = 'Cafe'
    elif x in ['R', 'Rest']:
        x = 'Restaurant'
    return(x)

# Apply the function written above to the column 'Channel'
wholesale['Channel'] = wholesale['Channel'].apply(lambda x: correction(x))

# Checking the final dataframe
wholesale.head()

# The final print statement. Please don't edit this part. Also don't write any other
# print statement otherwise your answer will not match even if it is correct
print(wholesale['Channel'].value_counts())

In [ ]:
# Import Pandas and read the dataframe
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

# Inspect the dataframe
wholesale.head()
wholesale.shape

# Create a new column 'Total' that contains the sum of all the columns
wholesale['Total'] = wholesale.sum(axis=1)

# Inspect the dataframe again
wholesale.head()

# Group the dataframe using 'Channel' as the index, 'Total' as the values, and 
# 'sum' as the aggfunc
channels = wholesale.pivot_table(index='Channel', values = 'Total', aggfunc = 'sum')

# Check the grouped dataframe
channels.head()

# Sort the grouped dataframe and print the smallest value
print(channels.sort_values(by='Total').index[0])

In [20]:
import pandas as pd
import ast,sys
restaurants = pd.read_csv('zomato.csv', engine='python')
restaurants = restaurants.drop_duplicates().reset_index(drop=True)

In [21]:
restaurants.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [22]:
restaurants = restaurants[['Restaurant Name', 'City', 'Address', \
                           'Cuisines', 'Price range', 'Aggregate rating', 'Average Cost for two']]
restaurants.sort_values(by = 'Aggregate rating', ascending=False)

,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating
2157,Grandson of Tunday Kababi,Lucknow,"Naaz Cinema Road, Aminabad, Lucknow","Mughlai, Lucknowi",1,4.9
9084,Gelateria Montecatini Terme,Puducherry,"Goubert Avenue, Next To Alliance Franchaise, W...",Desserts,1,4.9
3481,Indian Accent - The Manor,New Delhi,"The Manor, 77, Friends Colony, New Delhi",Modern Indian,4,4.9
2247,Giri Manja's,Mangalore,"Near Kalikamba Temple, Gopalkrishna Temple Roa...",Seafood,2,4.9
29,Sheroes Hangout,Agra,"Opposite The Gateway Hotel, Fatehabad Road, Ta...","Cafe, North Indian, Chinese",1,4.9
...,...,...,...,...,...,...
5957,Aggarwal Bikaner Wala,New Delhi,"Near Gol Chakkar, Palam Colony, Palam, New Delhi","Mithai, Street Food",1,0.0
5958,Aggarwal Sweet Centre,New Delhi,"Main Road, Kailashpuri, Palam, New Delhi",North Indian,1,0.0
5959,Aggarwal Sweet India,New Delhi,"C-156, Mahavir Enclave Part 3, Palam, New Delhi",Mithai,1,0.0
5960,Aggarwal Sweets Centre,New Delhi,"23/A, Main Road, Indira Park, Palam, New Delhi","Mithai, Street Food, North Indian, South Indian",1,0.0
4675,Khalsa Dhaba,New Delhi,"Jheel Kuranja, Opposite 310, Bus Stop, Krishna...",North Indian,1,0.0

In [ ]:
restaurants


filter = restaurants['City'].isin(['bangalore']) & \
            restaurants['Cuisines'].isin([FUNDING_TYPE])
            
    D = smc[DFilter]

In [141]:
def cusineFound(inCusine, cusines):
    inCusine = inCusine.strip()
    cusines = cusines.strip()
    return cusines.find(inCusine)

In [142]:
cusineFound("indian ", "indian, veggie, american")

0

In [96]:
cus = 'american'

print(restaurants.count())

TEMP = restaurants[restaurants['Cuisines'].apply(lambda x: cus in x.lower())]

print(TEMP.count())
TEMP.head()

Restaurant Name     9351
City                9351
Address             9351
Cuisines            9351
Price range         9351
Aggregate rating    9351
dtype: int64
Restaurant Name     249
City                249
Address             249
Cuisines            249
Price range         249
Aggregate rating    249
dtype: int64

,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating
71,Mazzo,Ahmedabad,"27, Sunshine Villa, Sunrise Park Society, Vast...","Cafe, American, Continental, Armenian, Fast Food",2,3.9
82,KFC,Allahabad,"P Square Mall, Civil Lines, Allahabad","American, Fast Food",3,3.4
86,Subway,Allahabad,"207/53, Mahatma Gandhi Marg, Civil Lines, Alla...","Fast Food, American, Salad, Healthy Food",2,3.4
105,Pizza Hut,Allahabad,"Shop 31/31, S. P. Marg, Civil Lines, Allahabad","Pizza, Fast Food, Finger Food, American",3,4.2
202,Toit,Bangalore,"298, 100 Feet Road, Namma Metro Pillar 62, Ind...","Italian, American, Modern Indian",4,4.6

In [164]:
def getZomatoRestaurants():
    restaurants = pd.read_csv('zomato.csv', engine='python')
    restaurants = restaurants.drop_duplicates().reset_index(drop=True)
    
    restaurants['City'] = restaurants['City'].apply(str.lower)
    restaurants['City'] = restaurants['City'].apply(str.strip)
    
    restaurants['Cuisines'] = restaurants['Cuisines'].apply(str.lower)
    
    return restaurants

In [165]:
def getTopNRatedRestaurants(city, cuisine, priceRange, N):
    city = city.strip()
    cuisine = cuisine.strip()
    
    restaurants = getZomatoRestaurants()
    restaurants = restaurants[['Restaurant Name', 'City', 'Address', 'Cuisines', 'Price range', 'Aggregate rating']]
    
    f1 = restaurants['Cuisines'].apply(lambda x: cus in x.lower())    
    f2 = restaurants['City'].isin([city])
    f3 = restaurants['Price range'].isin([priceRange])
                                                            
    restaurants = restaurants[f1 & f2 & f3]
    
    retRows = restaurants.sort_values(by = 'Aggregate rating', ascending = False)
    retRows = retRows.head(N)
    return retRows

In [166]:
getTopNRatedRestaurants('bangalore', 'american', 4, 10)

,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating
202,Toit,bangalore,"298, 100 Feet Road, Namma Metro Pillar 62, Ind...","italian, american, modern indian",4,4.6

In [168]:
cuisine = "mexican"
city = "bangalore"

restaurants = getZomatoRestaurants()
restaurants = restaurants[['Restaurant ID', 'Restaurant Name', 'City', 'Address', \
                           'Cuisines', 'Price range', 'Aggregate rating']]

f1 = restaurants['Cuisines'].apply(lambda x: cus in x.lower())    
f2 = restaurants['City'].isin([city])

restaurants = restaurants[f1] ## & f2]

retRows = restaurants.sort_values(by = 'Aggregate rating', ascending = False)
retRows = retRows.head(10)
retRows

,Restaurant ID,Restaurant Name,City,Address,Cuisines,Price range,Aggregate rating
995,18384115,Caterspoint,gurgaon,"S-27/11, DLF Phase 3, Gurgaon","mexican, american, healthy food",2,4.9
213,51040,Truffles,bangalore,"28, 4th B Cross, Koramangala 5th Block, Bangalore","cafe, american, coffee, steak, beverages, fast...",2,4.8
344,73088,Chili's,chennai,"49 & 50 L, Express Avenue Mall, White's Road, ...","mexican, american, tex-mex, burger",3,4.8
1452,18418247,feel ALIVE,gurgaon,"SCO 53, 2nd Floor, Main Market, Sector 29, Gur...","north indian, american, asian, biryani",3,4.7
6879,18237321,Echoes Satyaniketan,new delhi,"17, 1st Floor, Opposite Sri Venkateshwara Coll...","cafe, continental, italian, mexican, chinese, ...",2,4.7
212,18439634,ECHOES Koramangala,bangalore,"44, 4th B Cross, Koramangala 5th Block, Bangalore","continental, american, italian, north indian, ...",2,4.7
1935,97824,Chili's,hyderabad,"Flat 48, Ground Floor, Opposite Vengal Rao Par...","mexican, american, tex-mex, burger",3,4.7
2306,18408295,Stacks And Racks,mumbai,"Shop 1, Ganga Nivas, Opposite Toyota Showroom,...","american, burger, fast food",2,4.6
1092,18427868,Dudleys,gurgaon,"Plot 1605, Sector 53, Golf Course Road, Gurgaon","american, continental, burger",3,4.6
1078,303960,Manhattan Brewery & Bar Exchange,gurgaon,"1st Floor, Global Foyer Mall, Sector 43, Golf ...","finger food, american, continental, north indi...",4,4.6

### Python code for working with Elastic Search

In [1]:
from datetime import datetime
from elasticsearch import Elasticsearch
es = Elasticsearch()

In [60]:
doc = {
    "name": "Jayalalitha",
    "age": "75",
    "region": "South Indian",
    "state": "Tamil Nadu"
}
res = es.index(index="indian", doc_type="statewise", id="2115", body=doc)
print(res['result'])

created

In [61]:
print(res)

{'_index': 'indian', '_type': 'statewise', '_id': '2115', '_version': 1, 'result': 'created', '_shards': {'total': 2, 'successful': 1, 'failed': 0}, '_seq_no': 15, '_primary_term': 1}

In [2]:
es.indices.refresh(index="indian")

{'_shards': {'total': 2, 'successful': 1, 'failed': 0}}

#### Query the value. Use some json formatter to see the values

In [10]:
res = es.search(index="indian", body={"query": {"match_all": {}}})
#print("Got %d Hits:" % res['hits']['total']['value'])
#print(res['hits']['hits'])
for hit in res['hits']['hits']:
 #   print("%(name)s, %(age)s, %(region)s, %(state)s " % hit["_source"])
    print(hit['_source'])
    print("-----------")

{'name': 'Kumaraguru M', 'age': '28', 'region': 'South Indian', 'state': 'Tamil Nadu'}
-----------
{'name': 'Muthuraj', 'age': '60', 'region': 'South Indian', 'state': 'Andhra Pradesh'}
-----------
{'name': 'Bhavishyaa', 'age': '7', 'region': 'South Indian', 'state': 'Karnataka'}
-----------
{'name': 'Kumaraguru M', 'age': '28', 'region': 'South Indian', 'state': 'Tamil Nadu'}
-----------
{'name': 'Narendra', 'age': '75', 'region': 'North Indian', 'state': 'Gujarat'}
-----------
{'name': 'Jayalalitha', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}
-----------
{'doc': {'name': 'Jayalalitha1120', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
-----------
{'doc': {'name': 'Jayalalitha1121', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
-----------
{'doc': {'name': 'Jayalalitha1122', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
-----------
{'doc': {'name': 'Jayalalitha1123', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
-----------

In [4]:
def gendata():
    mywords = ['foo', 'bar', 'baz', 'word4']
    for word in mywords:
        yield {
            "_index": "mywords",
            "word": word,
        }

for x in gendata():
    print(x)

{'_index': 'mywords', 'word': 'foo'}
{'_index': 'mywords', 'word': 'bar'}
{'_index': 'mywords', 'word': 'baz'}
{'_index': 'mywords', 'word': 'word4'}

In [7]:
def genIndians():
    for id in range(1145, 1150):
        nam = "Jayalalitha" + str(id)
        yield {
            '_op_type': 'create',
            '_index': 'indian',
            '_id': id,
            "doc": {
                "name": nam,
                "age": "75",
                "region": "South Indian",
                "state": "Tamil Nadu"
            }
        }
    
for x in genIndians():
    print(x)

{'_op_type': 'create', '_index': 'indian', '_id': 1145, 'doc': {'name': 'Jayalalitha1145', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
{'_op_type': 'create', '_index': 'indian', '_id': 1146, 'doc': {'name': 'Jayalalitha1146', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
{'_op_type': 'create', '_index': 'indian', '_id': 1147, 'doc': {'name': 'Jayalalitha1147', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
{'_op_type': 'create', '_index': 'indian', '_id': 1148, 'doc': {'name': 'Jayalalitha1148', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}
{'_op_type': 'create', '_index': 'indian', '_id': 1149, 'doc': {'name': 'Jayalalitha1149', 'age': '75', 'region': 'South Indian', 'state': 'Tamil Nadu'}}

In [8]:
from elasticsearch import helpers
res = helpers.bulk(es, genIndians())

In [9]:
print(type(res))

<class 'tuple'>

In [67]:
for success, info in helpers.parallel_bulk(es, genIndians()):
    if not success:
        print('A document failed:', info)

In [29]:
def genCARs():
    for i in range(5, 20):
        id = "recordid-" + str(i)
        cstts = 1618811222620 + i
        tid = i + 23
        cetts = 1596804843846 + i
        duration = 16473 + i
        
        yield {
            '_op_type': 'create',
            '_index': 'test-wxcc-contact-activity-202104',
            'doc_type': 'cars',
            '_id': id,
            "doc": {
              "cstts": cstts,
              "agentSystemId__s": "AXA9VVrq9S1oTdqE1NX0",
              "agentId__s": "AgentId_1",
              "agentName__s": "AgentName_1",
              "entrypointId__s": "EntryPointId_1",
              "entrypointName__s": "EntryPointName_1",
              "queueId__s": "QueueId_1",
              "queueName__s": "QueueName_1",
              "agentDn__s": "",
              "outdialFlag__i": 0,
              "agentSessionId__s": "75a5ac99-8743-44a5-842c-bbbb520fd6eb",
              "ani__s": "",
              "dnis__s": "xxxxx",
              "sid": "csr_for_which_cars_exists_with_array_fields",
              "callSessionId__s": "4ab46a68-8e6a-468b-8b34-41685447b227",
              "channelType__s": "",
              "subChannelType__s": "dialer",
              "channelId__s": "",
              "currentState__s": "connect",
              "entrypointSystemId__s": "AXA9Q7Ss9S1oTdqE1NVY",
              "queueSystemId__s": "AXA9Q7S99S1oTdqE1NVZ",
              "siteId__s": "AXA94srvjkwgAuS7pX0b",
              "siteSystemId__s": "AXA94srvjkwgAuS7pX0b",
              "siteName__s": "North",
              "teamId__s": "AXA946v2efBr7nI0fOhx",
              "teamSystemId__s": "AXA946v2efBr7nI0fOhx",
              "teamName__s": "Bengalore_DAL",
              "tid": tid,
              "cetts": cetts,
              "duration__l": duration,
              "orgId__s": "97cdbf45-ebe2-4687-8341-44d5c7abf101",
              "orgType__s": "2",
              "contactDirection__s": "outdial",
              "count__i": 1,
              "previousState__s": "new"
            }
        }

for x in genCARs():
    print(x)

{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-5', 'doc': {'cstts': 1618811222625, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 28, 'cetts': 1596804843851, 'duration__l': 16478, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-6', 'doc': {'cstts': 1618811222626, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 29, 'cetts': 1596804843852, 'duration__l': 16479, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-7', 'doc': {'cstts': 1618811222627, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 30, 'cetts': 1596804843853, 'duration__l': 16480, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-8', 'doc': {'cstts': 1618811222628, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 31, 'cetts': 1596804843854, 'duration__l': 16481, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-9', 'doc': {'cstts': 1618811222629, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 32, 'cetts': 1596804843855, 'duration__l': 16482, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-10', 'doc': {'cstts': 1618811222630, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 33, 'cetts': 1596804843856, 'duration__l': 16483, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-11', 'doc': {'cstts': 1618811222631, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 34, 'cetts': 1596804843857, 'duration__l': 16484, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-12', 'doc': {'cstts': 1618811222632, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 35, 'cetts': 1596804843858, 'duration__l': 16485, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-13', 'doc': {'cstts': 1618811222633, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 36, 'cetts': 1596804843859, 'duration__l': 16486, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-14', 'doc': {'cstts': 1618811222634, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 37, 'cetts': 1596804843860, 'duration__l': 16487, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-15', 'doc': {'cstts': 1618811222635, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 38, 'cetts': 1596804843861, 'duration__l': 16488, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-16', 'doc': {'cstts': 1618811222636, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 39, 'cetts': 1596804843862, 'duration__l': 16489, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-17', 'doc': {'cstts': 1618811222637, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 40, 'cetts': 1596804843863, 'duration__l': 16490, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-18', 'doc': {'cstts': 1618811222638, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 41, 'cetts': 1596804843864, 'duration__l': 16491, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}
{'_op_type': 'create', '_index': 'test-wxcc-contact-activity-202104', 'doc_type': 'cars', '_id': 'recordid-19', 'doc': {'cstts': 1618811222639, 'agentSystemId__s': 'AXA9VVrq9S1oTdqE1NX0', 'agentId__s': 'AgentId_1', 'agentName__s': 'AgentName_1', 'entrypointId__s': 'EntryPointId_1', 'entrypointName__s': 'EntryPointName_1', 'queueId__s': 'QueueId_1', 'queueName__s': 'QueueName_1', 'agentDn__s': '', 'outdialFlag__i': 0, 'agentSessionId__s': '75a5ac99-8743-44a5-842c-bbbb520fd6eb', 'ani__s': '', 'dnis__s': 'xxxxx', 'sid': 'csr_for_which_cars_exists_with_array_fields', 'callSessionId__s': '4ab46a68-8e6a-468b-8b34-41685447b227', 'channelType__s': '', 'subChannelType__s': 'dialer', 'channelId__s': '', 'currentState__s': 'connect', 'entrypointSystemId__s': 'AXA9Q7Ss9S1oTdqE1NVY', 'queueSystemId__s': 'AXA9Q7S99S1oTdqE1NVZ', 'siteId__s': 'AXA94srvjkwgAuS7pX0b', 'siteSystemId__s': 'AXA94srvjkwgAuS7pX0b', 'siteName__s': 'North', 'teamId__s': 'AXA946v2efBr7nI0fOhx', 'teamSystemId__s': 'AXA946v2efBr7nI0fOhx', 'teamName__s': 'Bengalore_DAL', 'tid': 42, 'cetts': 1596804843865, 'duration__l': 16492, 'orgId__s': '97cdbf45-ebe2-4687-8341-44d5c7abf101', 'orgType__s': '2', 'contactDirection__s': 'outdial', 'count__i': 1, 'previousState__s': 'new'}}

In [30]:
from elasticsearch import helpers
res = helpers.bulk(es, genCARs())

In [31]:
print(res)

(15, [])