# Lending Club Case Study
## Authors
### Siddakka Saptasagare
### Kumaraguru Muthuraj

## Business Understanding
**You work for a consumer finance company which specialises in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Two types of risks are associated with the bank’s decision:**
- If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company
- If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company
<p>
<img src ="https://cdn.upgrad.com/UpGrad/temp/7afbce98-8ecc-41c6-96d8-981cba7d343f/Loan_image.png" alt='Figure 1' style="width:600px;">
<center> <b>Approval - Rejection flow</b> </center> 
 </br>  
</p>

**When a person applies for a loan, there are two types of decisions that could be taken by the company:**

- Loan accepted: If the company approves the loan, there are 3 possible scenarios described below:

> Fully paid: Applicant has fully paid the loan (the principal and the interest rate)

> Current: Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. These candidates are not labelled as 'defaulted'.

> Charged-off: Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan 

- Loan rejected: The company had rejected the loan (because the candidate does not meet their requirements etc.). Since the loan was rejected, there is no transactional history of those applicants with the company and so this data is not available with the company (and thus in this dataset)

## Business Objectives
**This company is the largest online loan marketplace, facilitating personal loans, business loans, and financing of medical procedures. Borrowers can easily access lower interest rate loans through a fast online interface.**

**The company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default.  The company can utilise this knowledge for its portfolio and risk assessment.**

## What are we solving for?
**Lending Club, being headquartered in SFO, CA lends money for cheap interest rates for three major reasons, namely medical, personal and business loans.**

**The history of borrowers between 2007 and 2011 provided will be used to do statistical analysis and provide insights on what parameters of the borrower are related to defaulting. This will help Lending Club avoid lending money to these customers or reduce the loan amount or increase the interest rate.**

## How did we solve?
**We have done extensive EDA on all the parameters in the loan.csv by relating to the meaning in data dictionary. After doing analysis, we have provided multi-perspective analyis and observe the patterns.**

**Once we establish the pattern, we record our conclusion and recommend what the bank should do. Every cell(or group of cells) is dedicated to a set of parameters that we analyze. These indicate the factors impacting defaulting nature of customers.**

**We have used different visualizations to perceive the pattern powerfully which leads to decisions.**

### The insights are provided step-by-step in the form of a story, to graps the most important customer parameters impacting loan defaulting tendency. There are 3 major sections
### A) Extensive EDA.  
### B) EDA and multi-perspective visualizations with insights and conclusions on loan defaulters (charged-off).
### C) EDA experiments supporting insights and conclusions.

# (A) Extensive EDA.

### Step 1. Load the required libraries, open the loan.csv and cleanup data.

In [4]:
# Loading required python libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [5]:
# Loading and Extracting the loan zip file
# importing the zipfile library required to extract and read the zip file
import zipfile as zf
filename= 'loan.zip'
loan = zf.ZipFile(filename,'r')
# extracting the files using 'extracall' method
print(loan.printdir())
loan.extractall()

File Name                                             Modified             Size
loan.csv                                       2017-05-16 14:10:10     34813575
None

In [6]:
#Creating the dataframe by using the csv file present in the zip file
df = pd.read_csv(loan.open('loan.csv'),low_memory=False, parse_dates=True)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
#Checking the shape of the dataframe
print(df.shape)

(39717, 111)

In [8]:
# We observed that there are more then 100 columns present in our dataframe
#Lets use set_option to display all the columns of df
pd.set_option('display.max_columns', 200)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Insights and conclusions on loan defaulters (charged-off)

### Note: Siddakka, every cell in insight should focus on one insight / conclusion. There might be a preceeding step related to a data wrangling cleaning, deriving step. All the supporting analysis, can be moved to the end. 

### Every insight cell will have data local to itself. By doing this the code's readability is very good. The dimensions with which we are analysing is too many and hence the names will get lost. Imagine we have a dfXXX_YYY_ZZZ created in the data clean up in cell 10 and we use it in cell 55. The reviewer need not go to cell 10 to see that data.

### Step 1. Load the required libraries, opend the loan.csv and cleanup data
##### Note: If we are dropping columns, imputing, we need to explain why we are doing. We can refer to a step in future in "EDA experiments supporting insights ad conclusions". We will have a brief EDA step here in this section, but not too graphical that distracts the reader / reviewer.

### Step 2. Derive data for simplicity and ease of analysis.
##### Note: Standardization and data formating of columns ---> goes here. We can just retain charged-off customers, because thats what we need to focus upon. 
##### Add functions in this section that will be used later.
##### Your region categorization function should be defined here

### Step 3. Do preliminary EDA and understand data.
### Lets do the Loan similarity distribution
- What amount of loan has been issued
- What is frequency distribution loan over a period
## Good Loan vs Bad Loans
**Lets see the no. of Bad loans in Dataframe to find out the risk of load falling into default category.**

**From the above graph its clear that the loans that are charged off are the bad loans. Aound 14.2 % of loans are bad loans**

**From the above graph we can conclude that most of loans were issued to grade A and B**

## Lets do the Analysi of Bad loan vs different variables

### Lets see the distribution of the annual income of the employees

#### From the above graphs we can conclude the below points
- The amount of loan issued lies between 5000 to 15000 USD
- The annual income of the most applicants is <1000 k USD

**From the above graph we can conclude that Amount of the loan issued is not dependent on the Loan status
  
**From the above graph we can conclude that the Grade A and B have received the loan with minimum interest rate and Grade G has received loan with maximum interest rate**

**From the above graph we can conclude that the interest rate of charged off loans is greater then the fully paid**

**Lets check the relation between the Loan purpose and the Loan status**
### From the above graph we can conclude below points:
1. Loans Issued for the perpose of Debt Consolidation are being paid off
2. Loans Issued for the perpose of Debt Consolidation are being Charged off

### Lets see if there is any impact of terms i.e. the loan terms in months on the loan status
### Lets check the relation between home ownership and the Loan status

##### Do Top4 region, Top4 state, Top4 reason, Top4 month and Terms and explain why you need that and not the entire data set.

## All the cells of Siddakka till cell 50 go here. We need to change the colors similar to cell 42. its very sober and smooth.

### Step 4. We are retaining only charged-off borrowers for analysis. Why?

##### Why? Explain the reasons.

### Step 5. Term and Interest rate analysis

#### OBSERVATION - For those with 36 months term, about (800+650) approx 1500 of them dropped out when interest rate was 12 - 14 percent. From 60 months term, about 900 of them dropped out when interest rate was 15 - 17 percent. Observe that the defaulter count is low for 36 months as interest rate increases. 
#### CONCLUSION - So for 36 months, the interest rate has to be higher.
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 6. Term with credit_history (derived from earliest credit line and loan issued year). Note that the defaulters drastically reduce for both terms 36 and 60 as the credit_history (age of the person) increases. Its risky to give loans to customers with credit history between 5 to 15 years.

#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 7. Analyse MONTH loan issued, PURPOSE of loan and STATE
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 8. From defaulter data, we got TOP 4 - Months, States and Purpose. We build a pivot table to categorize the purpose of loan for a month for a state. Here we can obviously see that most of defaulters take loans under the category debt consolidation, in December across all 4 states.

#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 9. In November and December, in California, when a consumer takes loan under debt consolidation does credit history length have any impact. YES THIS CHART INDICATES credit history of 10 - 15 years definitely is a risk

#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 10. Now that we know in last quater, especially December, customers take debt consolidation loan and default. Is employment history affecting their default status. YES, since 10 means greater than 10 years, we can ignore that. There is a pattern that customers with less than 1 year experience, default more and it reduces as employment length increases.
##### When a customer comes in Nov, Dec with debt consolidation as the reason and less than 1 year of employment length in current job, its risky.

#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 11. Now that we know in last quater, especially December, customers take debt consolidation loan and default. Does home ownership affect defaulting nature. Yes, those who rent default significantly higher than mortagers and mortgagers default higher than home owners. Hence, if a customer in rental home applies for loan with purpose debt consolidation in the months November - December, its risky.
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 9 in original file - IGNORE THIS or move it to supplement section.  Now that we know in last quater, especially December, customers take debt consolidation loan and default. How does revol_util affect the defaulting tendency. NO distinct pattern in this - READ BELOW section 14. WE have proved that revol_util has a BIG IMPACT.

#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 12. Now that we know in last quater, especially December, customers take debt consolidation loan and default. Income verficiation has any relationship? YES - If income source verification is done, the risk is LOWER
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx
#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 13. Now that we know in last quater, especially December, customers take debt consolidation loan and default.
### How many months after these customers take loan they default?
### How much money was recovered in total from them?
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx

#### Conclusion: The below chart is for top 4 months, top 4 purpose, top 4 states defaulters, who are in rented homes. We index it based on the length of employment. It clearly shows that, customers with less than 1 year of current employment experience default the most.

#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 14. For the months Nov, Dec, in the state of California, those customers who take loan with reason as debt consolidation, we want to know what is the recovery rate. Recovery rate is the amount recovered as a percent of funded amount. The amount we refer is  principal + interest + other charges, which is total_pymnt. YES! There is a pattern that the MEDIAN recovery rate is around 40% for those living in rented house and highest with those in their own home.

### Also for CA state the median recovery rate is only 53%. If you replace index to be 'addr_state', you can observe this. This indicates that customers in rented house bring down the median a lot.
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx

#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 15.  For the months Nov, Dec, in the state of California, those customers who take loan with reason as debt consolidation, we want to know the DTI relationship. A very powerful pattern emerges here. 
##### The Median DTI is high and close to home owners. Considering the previous chart, since recovery is lowest amongst rental home owners, and DTI is higer than mortagers, its risky to lend money to rental owners.
##### Also when we seggregate the DTI w.r.t credit history, we see that its in the order of
##### 0 - 15 for Home owners
##### 0 - 20 for Mortgagers and
##### 0 - 40 for Rental folks - Wide spread.
##### This is a powerful observation that rental home borrowers have significantly higher and broader span of DTI, which implies that rental owners have more debt than income.
#### OBSERVATION - xxxxxx 
#### CONCLUSION - xxxx

#### SUPPORTING EDA - Refer Section number XX for extensive EDA that helped us arrive at this conclusion.

### Step 16. For the months Nov, Dec, in the state of California, those customers who take loan with reason as debt consolidation, we want to know the revolving utilization impact on defaulters. A very powerful pattern emerges here. 

##### For rental customers, revolving utilization is highest, and specifically, it reduces as they spend more number of years with the same employer. So many reasons for calling rental clients risky.

## EDA experiments supporting insights and conclusions